<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div></div>
        <div class="card">
          <div class="card-header card-header-danger header-box">
            <div class="d-flex justify-content-between">
              <h1 class="card-title p-t-5">Contact us</h1>
            </div>
          </div>
          <div class="card-body">
            <h3>Welcome to GMT PRO!</h3>
            <p>Email/call us with any queries or inquiries. We would be happy to answer your questions and set up a
              meeting with you.</p>
            <p>
              <i class="material-icons pr-2">mail</i>
              <a href="mailto:gmtpro.in@gmail.com">gmtpro.in@gmail.com</a>
            </p>
            <p>
              <i class="material-icons pr-2">phone</i>
              +91 97914 09491
            </p>
            <p>We will revert you as soon as possible...!</p>
            <div class="mt-4">Thank you for contacting us!</div>
            <b>Have a great day</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Adsense start -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <ng-adsense [display]="'inline-block'" [width]="320" [height]="108"></ng-adsense>
      <ng-adsense [display]="'inline-block'" [width]="320" [height]="108"></ng-adsense>
      <ng-adsense [display]="'inline-block'" [width]="320" [height]="108"></ng-adsense>
    </div>
  </div>
</div>
<!-- Adsense end -->