<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div></div>
          <div class="card">
            <div class="card-header card-header-danger header-box">
              <div class="d-flex justify-content-between">
                <div class="card-title p-t-5">Contact us</div>
              </div>
            </div>
            <div class="card-body">
              <p>Email/call us with any queries or inquiries. We would be happy to answer your questions and set up a meeting with you.</p>
              <p>
                <i class="material-icons pr-2">mail</i>
                <a href="mailto:Gmtpro.in@gmail.com">Gmtpro.in@gmail.com</a>
              </p>
              <p>
                <i class="material-icons pr-2">phone</i>
                +91 97914 09491
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>