.footer ul li a {
  padding: 0.25rem 1rem;
  font-size: 10px;
}

.to-top {
  display: flex;
  padding: 5px;
  background: #ffffff;
  color: #f44336;
  align-items: center;
  width: 100%;
  font-size: 12px;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}

.to-top:hover {
  background: #f8f9fa;
  color: #ed2719;
}
