<footer class="footer ">
  <div class="container-fluid">

    <div class="to-top" (click)="scrollTop()">
      <i class="fa fa-angle-up" style="font-size: 16px;"></i>
      <div class="pl-2 d-inline">Scroll to top</div>
    </div>

    <ul class="menu-footer container">
      <li>
        <a routerLink="/">
          Home
        </a>
      </li>
      <li>|</li>
      <li>
        <a routerLink="about-us">
          About
        </a>
      </li>
      <li>|</li>
      <li>
        <a routerLink="contact-us">
          Contact
        </a>
      </li>
      <li>|</li>
      <li>
        <a routerLink="faq">
          FAQ
        </a>
      </li>
      <li>|</li>
      <li>
        <a routerLink="disclaimer">
          Disclaimer
        </a>
      </li>
      <li>|</li>
      <li>
        <a routerLink="privacy">
          Privacy
        </a>
      </li>
      <li>|</li>
      <li>
        <a routerLink="legal">
          Legal
        </a>
      </li>
    </ul>

    <div class="row justify-content-center" style="font-size: 0.7rem;">
      &copy; {{currentDateTime | date: 'yyyy'}}, All rights are reserved.
    </div>

  </div>
</footer>