<h4 mat-dialog-title class="bold pb-2"> Add Production </h4>
<div mat-dialog-content>
  <app-loader *ngIf="flags.displayLoader"></app-loader>

  <form [formGroup]="productionForm" (ngSubmit)="productionForm.valid && onSubmit()" novalidate
    *ngIf="!flags.displayLoader" autocomplete="off">
    <!-- Target Date -->
    <mat-form-field appearance="fill">
      <mat-label> Production Date </mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dateOfProduction" 
        placeholder="Production Date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="errorHandling('dateOfProduction', 'required')">
        Production Date is required
      </mat-error>
    </mat-form-field>
    

    <!-- Zone -->
    <mat-form-field appearance="fill">
      <mat-label> Zone </mat-label>
      <mat-select formControlName="zone" (selectionChange)="onZoneChange()">
        <mat-option *ngFor="let zone of datasource.zones" [value]="zone.id">
          {{zone.zone_name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="errorHandling('zone', 'required')">
        Zone is required
      </mat-error>
    </mat-form-field>

    <!-- Line -->
    <mat-form-field appearance="fill">
      <mat-label> Line </mat-label>
      <mat-select formControlName="line" (selectionChange)="onLineChange()">
        <mat-option *ngFor="let line of datasource.lines" [value]="line">
          {{line.line_name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="errorHandling('line', 'required')">
        Line is required
      </mat-error>
    </mat-form-field>
    
    <!-- Target -->
    <mat-form-field appearance="fill">
      <mat-label>Target</mat-label>
      <mat-select formControlName="target">
        <mat-option *ngFor="let obj of datasource.target" [value]="obj">
          <span class="font-weight-bold">#{{obj.target}} - </span>
          <span class="text-muted" style="font-size: 11px;">({{obj.style.style_name}} | {{obj.buyer.buyer_name}})</span>
        </mat-option>
      </mat-select>
      <mat-error *ngIf="errorHandling('target', 'required')">
        Target is required
      </mat-error>
    </mat-form-field>

    <!-- Production Hour -->
    <mat-form-field appearance="fill">
      <mat-label>Hour</mat-label>
      <mat-select formControlName="productionHour">
        <mat-option *ngFor="let productionHour of [].constructor(24); let i = index" [value]="i + 1">
          {{i + 1}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="errorHandling('productionHour', 'required')">
        Hour is required
      </mat-error>
    </mat-form-field>

    <!-- O/p Hour -->
    <mat-form-field>
      <input matInput type="number" placeholder="O/p" formControlName="output">
      <mat-error *ngIf="errorHandling('output', 'required')">
        O/p is required
      </mat-error>
      <mat-error *ngIf="errorHandling('output', 'min')">
        O/p Mininum Value is 0
      </mat-error>
      <mat-error *ngIf="errorHandling('output', 'max')">
        O/p Maximum Value is 20000
      </mat-error>
    </mat-form-field>

    <!-- Actions -->
    <div mat-dialog-actions>
      <button mat-button (click)="onClickCancel()"> Cancel </button>
      <button type="submit" mat-raised-button class="btn btn-danger"
        [disabled]="productionForm.invalid || flags.submitting">
        <span *ngIf="!flags.submitting"> Add </span>
        <app-loader *ngIf="flags.submitting" [loaderType]="'formSubmit'"></app-loader>
      </button>
    </div>
  </form>
</div>
