<!-- *ngIf="flags.isLoggedInUser" -->
<div class="wrapper">
  <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <router-outlet (activate)="onNavigate($event)"></router-outlet>
    <div *ngIf="isMaps('maps')">
      <app-footer></app-footer>
    </div>
  </div>
</div>

<!-- <div class="wrapper" *ngIf="!flags.isLoggedInUser">
  <router-outlet></router-outlet>
</div> -->


<div id="ad-fixed" *ngIf="showAd">
  <ng-container *ngIf="afterViewInit">
    <div id="ad-close" (click)="onCloseAd()">x</div>
    <ng-adsense id="center" [height]="20" [width]="320" ></ng-adsense>
  </ng-container>
</div>