<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div></div>
          <div class="card">
            <div class="card-header card-header-danger header-box">
              <div class="d-flex justify-content-between">
                <div class="card-title p-t-5">FAQ</div>
              </div>
            </div>
            <div class="card-body px-2">
              <p>FAQ works!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>