<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div></div>
        <div class="card">
          <div class="card-header card-header-danger header-box">
            <div class="d-flex justify-content-between">
              <h1 class="card-title p-t-5">About us</h1>
            </div>
          </div>
          <div class="card-body">
            <p>
              GMT PRO is a production tracker, mainly used in garment manufacturing. Here we will provide you digital tracker, which you will like very much. We're dedicated to providing you the best of the tool, with a focus on dependability. We're working to turn our passion for the tool. We hope you enjoy our tool as much as we enjoy offering them to you.
            </p>
            <p>I will keep posting more features/enhancements on our tool. Please give your support and love.</p>
            <p>Email/call us with any queries or inquiries.</p>
            <p>
              <i class="material-icons pr-2">mail</i>
              <a href="mailto:gmtpro.in@gmail.com">gmtpro.in@gmail.com</a>
            </p>
            <p>
              <i class="material-icons pr-2">phone</i>
              +91 97914 09491
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>