<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <div class="float-left">
              <h4 class="card-title">Production</h4>
              <!-- <p class="card-category">List of supervisors</p> -->
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table" aria-hidden="true">
                <thead class=" text-primary">
                  <th id="date"> Date </th>
                  <th id="zone"> Zone </th>
                  <th id="line"> Line </th>
                  <th id="hour"> Hour </th>
                  <th id="output"> Output </th>
                  <th id="action"> Actions </th>
                </thead>
                <tbody>
                  <tr *ngFor="let obj of productions">
                    <td>{{obj.production_date}}</td>
                    <td>{{obj.zone_name}}</td>
                    <td>{{obj.line_name}}</td>
                    <td>{{obj.production_hrs}}</td>
                    <td class="text-primary">{{obj.output}}</td>
                    <td>
                      <button mat-raised-button type="button" matTooltip="Edit Target" [matTooltipPosition]="'above'"
                        class="btn btn-primary btn-link btn-sm btn-just-icon">
                        <i class="material-icons" aria-hidden="true"> edit </i>
                      </button>
                      <button mat-raised-button type="button" matTooltip="Delete" [matTooltipPosition]="'above'"
                        class="btn btn-danger btn-link btn-sm btn-just-icon">
                        <i class="material-icons" aria-hidden="true"> delete </i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
