.logo {
  display: inline-flex;
}

/* Calendar fix */

::ng-deep.cdk-overlay-container {
  z-index: 1032 !important;
}

/* Date Picker design change */

::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before {
  background-color: #eeeeee;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent;
}

::ng-deep .sidebar .logo-img {
  display: inherit;
  margin-left: 0px;
}

::ng-deep .sidebar .logo {
  padding: 0px;
}
