<div class="confirmation">
    <div>
      <mat-dialog-content>
        Are you sure, do you want to deactivate the factory (<b>{{selectedFactory.factory_name}}</b>) ?
      </mat-dialog-content>
    </div>
  
    <div>
      <mat-dialog-actions>
        <button mat-raised-button mat-dialog-close tabindex="-1">No</button>
        <button mat-raised-button color="primary" (click)="onConfirmClick()" tabindex="1" [disabled]="flags.submitting">
          <div *ngIf="!flags.submitting">Yes</div>
          <app-loader *ngIf="flags.submitting" [loaderType]="'formSubmit'"></app-loader>
        </button>
      </mat-dialog-actions>
      <div class="text-danger fs-12 m-t-10" *ngIf="flags.errorSubmitting"> {{errorMsg}} </div>
    </div>
  </div>