<div class="confirmation">
  <div class="box-header">
    DELETE PRODUCTION
  </div>

  <div>
    <mat-dialog-content>
      <div class="">
        <div class="row">
          <div class="col-6 label-name"> Zone </div>
          <div class="col-6 break-all"> {{selectedProduction.zone_name}} </div>
        </div>

        <div class="row p-t-10">
          <div class="col-6 label-name"> Line </div>
          <div class="col-6"> {{selectedProduction.line_name}} </div>
        </div>

        <div class="row p-t-10">
          <div class="col-6 label-name"> Hour </div>
          <div class="col-6"> {{selectedProduction.production_hrs}} </div>
        </div>

        <div class="row p-t-10">
          <div class="col-6 label-name"> Output </div>
          <div class="col-6"> {{selectedProduction.output}} </div>
        </div>
      </div>
    </mat-dialog-content>
  </div>

  <div>
    <mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="onConfirmClick()" tabindex="1">
        {{confirmButtonText}}
      </button>
      <button mat-raised-button mat-dialog-close tabindex="-1">
        {{cancelButtonText}}
      </button>
    </mat-dialog-actions>
  </div>
</div>
