/* You can add global styles to this file, and also import other style files */

.p-t-10 {
  padding-top: 10px;
}

.p-t-15 {
  padding-top: 15px;
}

.p-all-10 {
  padding: 10px;
}

.card .card-title {
  font-size: 20px;
}

.material-icons {
  font-size: 20px !important;
}

.break-all {
  word-break: break-all;
}

.text-bold {
  font-weight: bold;
}

.label-name {
  font-weight: 500;
  color: #6c757d;
}

.box-header {
  border-bottom: 1px solid #e1e1e2;
  padding-bottom: 5px;
  margin-bottom: 15px;
  font-weight: bold;
  text-align: center;
}

.font-weight-bold {
  font-weight: 600 !important;
}

.pointer {
  cursor: pointer;
}

.main-panel .main-content {
  padding: 30px 0px;
}

.info-footer, .info-footer h2 {
  font-size: 11px;
  margin: 0px;
}