.card-custom {
  border: 1px solid #eee;
  box-shadow: 2px 4px 5px 0px #b7b7b7;
  border-radius: 10px;
}

.card-custom .title {
  font-weight: bold;
  font-size: 20px;
}

.card-custom .circle {
  font-weight: bold;
  background-color: #607d8b;
  padding: 5px;
  border-radius: 99px;
  color: #fff;
  text-align: center;
}

.upper-card {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.lower-card {
  padding-top: 10px;
}

.lower-card > .div {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important;
}

.buyer-style-wrapper {
  background: #607d8b;
  color: white;
  font-size: 12px;
  margin: 2px;
  border-radius: 5px;
}

.sub-card-heading {
  font-size: 10px;
  transform: rotateZ(-90deg);
  position: absolute;
  left: -20px;
  top: 14px;
  background: #369;
  color: white;
  padding: 2px;
  border-radius: 2px;
  font-weight: bold;
  height: 20px;
  width: 44px;
  letter-spacing: 1px;
  line-height: 16px;
}
.bottom-text {
  text-transform: capitalize;
  color: #555;
  font-size: 11px;
}
.prod-data {
  font-weight: 600 !important;
  font-size: 15px;
}
.table > thead > tr > th,
.table > tbody > tr > td {
  padding: 2px;
  font-size: 12px;
}

.card-summary {
  background: linear-gradient(45deg, #f4faff, #f0f8ff);
  border-radius: 4px;
}
