<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div></div>
          <div class="card">
            <div class="card-header card-header-danger header-box">
              <div class="d-flex justify-content-between">
                <div class="card-title p-t-5">Legal</div>
              </div>
            </div>
            <div class="card-body">
              <h4>Terms and Conditions</h4>
              <p>Welcome to GMT</p>
              <p>These terms and conditions outline the rules and regulations for the use of GMT's Website, located at gmt.com.</p>
              <p>By accessing this website we assume you accept these terms and conditions. Do not continue to use GMT if you do not agree to take all of the terms and conditions stated on this page.</p>

              <p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: “Client”, “You” and “Your” refers to you, the person log on this website and compliant to the Company's terms and conditions. “The Company”, “Ourselves”, “We”, “Our” and “Us”, refers to our Company. “Party”, “Parties”, or “Us”, refers to both the Client and ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client's needs in respect of provision of the Company's stated services, in accordance with and subject to, prevailing law. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p>

              <h6>Cookies</h6>
              <p>We employ the use of cookies. By accessing GMT, you agreed to use cookies in agreement with the GMT's Privacy Policy.</p>
              <p>Most interactive websites use cookies to let us retrieve the user's details for each visit. Cookies are used by our website to enable the functionality of certain areas to make it easier for people visiting our website. Some of our affiliate/advertising partners may also use cookies.</p>

              <h6>License</h6>
              <p>Unless otherwise stated, GMT and/or its licensors own the intellectual property rights for all material on GMT. All intellectual property rights are reserved. You may access this from GMT for your own personal use subjected to restrictions set in these terms and conditions.</p>
              <p>You must not:</p>
              <ul>
                <li>Republish material from GMT</li>
                <li>Sell, rent or sub-license material from GMT</li>
                <li>Reproduce, duplicate or copy material from GMT</li>
                <li>Redistribute content from GMT</li>
              </ul>
              <p>Parts of this website offer an opportunity for users to post and exchange opinions and information in certain areas of the website. GMT does not filter, edit, publish or review Comments prior to their presence on the website. Comments do not reflect the views and opinions of GMT,its agents and/or affiliates. Comments reflect the views and opinions of the person who post their views and opinions. To the extent permitted by applicable laws, GMT shall not be liable for the Comments or for any liability, damages or expenses caused and/or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this website.</p>

              <h6>iFrames</h6>
              <p>Without prior approval and written permission, you may not create frames around our Webpages that alter in any way the visual presentation or appearance of our Website.</p>

              <h6>Content Liability</h6>
              <p>We shall not be hold responsible for any content that appears on your Website. You agree to protect and defend us against all claims that is rising on your Website. No link(s) should appear on any Website that may be interpreted as libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any third party rights.</p>

              <h6>CHANGES TO THIS POLICY</h6>
              <p>We regularly review and may make changes to this Policy from time-to-time. To ensure that you are always aware of how we use your personal data we will update the online version of this Policy from time-to-time to reflect any changes to our use of your personal data. We may also make changes to comply with developments in applicable law or regulatory requirements. </p>

              <h6>Disclaimer</h6>
              <p>The information provided by GMT (“we,” “us”, or “our”) on gmt  (the “Site”) and out mobile appliction is for general informational purposes only. All information on is provided in good faith, however we make no representation or warranty of any kind, express or implied, regarding the accuracy, adequacy, validity, reliability, availability or completeness of any information on the Site or our mobile application. UNDER NO CIRCUMSTANCE SHALL WE HAVE ANY LIABILITY TO YOU FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF  OR RELIANCE ON ANY INFORMATION PROVIDED ON THE SITE AND OUR MOBILE APPLICATION  AND YOUR RELIANCE ON ANY INFORMATION ON THE SITE AND OUR MOBILE APPLICATION IS SOLELY AT YOUR OWN RISK.</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>